<section class="container">
    <h1 class="head">This is a Timer</h1>
    <div #timerElement class="timer" title="Double click to pause">
        <span class="timer-item">{{timer.hh}}</span>
        <span>:</span>
        <span class="timer-item">{{timer.mm}}</span>
        <span>:</span>
        <span class="timer-item">{{timer.ss}}</span>
    </div>

    <div class="controlls">
        <button class="timer-btn" (click)="onStart()">Start</button>
        <button class="timer-btn" (click)="onStop()">Stop</button>
        <button class="timer-btn" (click)="onReset()">Reset</button>
    </div>
</section>